.top-bar {
  background: brown;
  height: 50px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-content: center;

  &__title {
    font-size: 30px;
    font-family: "Playwrite GB S", cursive;
  }

  &__menu {
    align-self: center;
    a {
      margin-right: 15px;
      color: white;
      text-decoration: none;
    }
  }

  &__cart {
    align-self: center;
  }
}

