<section class="register-container">
  <div class="register-container__content">
    <h2>REGISTER</h2>
    <form
      (submit)="onSubmit()"
      [formGroup]="registerForm"
      class="register-container__form"
    >
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input formControlName="firstName" matInput />
          <mat-icon matIconPrefix>person</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastName" matInput />
          <mat-icon matIconPrefix>person</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input formControlName="city" matInput />
          <mat-icon matIconPrefix>location_city</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
          <mat-icon matIconPrefix>mail</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-icon matIconPrefix>key</mat-icon>
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide() ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleVisibility($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <button type="submit" [disabled]="registerForm.invalid" mat-flat-button>
        REGISTRARSE
      </button>
    </form>
    <div class="register-container__login">
      <p>Ya tienes una cuenta? <a routerLink="/auth/login">Ingresar</a></p>
    </div>
  </div>
</section>
