<section class="about-us">
  <h1>Acerca de Nosotros</h1>
  <p class="about-us__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed odio
    id lorem cursus ullamcorper sit amet in lacus. Suspendisse potenti. Aenean
    suscipit nisi nibh. Proin at porta augue. Donec purus odio, efficitur ut
    laoreet eget, aliquet at eros. Nulla cursus arcu dolor, eget bibendum urna
    pretium et. Aenean sed rutrum justo. Integer ultricies sed dolor eu dictum.
    Quisque tellus quam, malesuada at arcu quis, pulvinar interdum justo. Nullam
    in dui tristique, pulvinar sapien vel, ultrices nibh.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed odio
    id lorem cursus ullamcorper sit amet in lacus. Suspendisse potenti. Aenean
    suscipit nisi nibh. Proin at porta augue. Donec purus odio, efficitur ut
    laoreet eget, aliquet at eros. Nulla cursus arcu dolor, eget bibendum urna
    pretium et. Aenean sed rutrum justo. Integer ultricies sed dolor eu dictum.
    Quisque tellus quam, malesuada at arcu quis, pulvinar interdum justo. Nullam
    in dui tristique, pulvinar sapien vel, ultrices nibh.
  </p>
  <div class="about-us__info">
    <div class="about-us__info__card">
      <p class="about-us__info__card__img-container">
        <img src="/assets/person.png" alt="" />
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed
        odio id lorem cursus ullamcorper sit amet in lacus. Suspendisse potenti.
        Aenean suscipit nisi nibh. Proin at porta augue. Donec purus odio,
        efficitur ut laoreet eget, aliquet at eros. Nulla cursus arcu dolor,
        eget bibendum urna pretium et. Aenean sed rutrum justo. Integer
        ultricies sed dolor eu dictum. Quisque tellus quam, malesuada at arcu
        quis, pulvinar interdum justo. Nullam in dui tristique, pulvinar sapien
        vel, ultrices nibh.
      </p>
    </div>
    <div class="about-us__info__card">
      <p class="about-us__info__card__img-container">
        <img src="/assets/email.png" alt="" />
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed
        odio id lorem cursus ullamcorper sit amet in lacus. Suspendisse potenti.
        Aenean suscipit nisi nibh. Proin at porta augue. Donec purus odio,
        efficitur ut laoreet eget, aliquet at eros. Nulla cursus arcu dolor,
        eget bibendum urna pretium et. Aenean sed rutrum justo. Integer
        ultricies sed dolor eu dictum. Quisque tellus quam, malesuada at arcu
        quis, pulvinar interdum justo. Nullam in dui tristique, pulvinar sapien
        vel, ultrices nibh.
      </p>
    </div>
    <div class="about-us__info__card">
      <p class="about-us__info__card__img-container">
        <img src="/assets/check.png" alt="" />
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed
        odio id lorem cursus ullamcorper sit amet in lacus. Suspendisse potenti.
        Aenean suscipit nisi nibh. Proin at porta augue. Donec purus odio,
        efficitur ut laoreet eget, aliquet at eros. Nulla cursus arcu dolor,
        eget bibendum urna pretium et. Aenean sed rutrum justo. Integer
        ultricies sed dolor eu dictum. Quisque tellus quam, malesuada at arcu
        quis, pulvinar interdum justo. Nullam in dui tristique, pulvinar sapien
        vel, ultrices nibh.
      </p>
    </div>
  </div>
</section>
