<section class="about-us">
  <h1>Acerca de Nosotros</h1>
  <p class="about-us__description">
    En Dulces Ilusiones, creemos que cada momento especial merece ser celebrado
    con un toque dulce y memorable. Somos una pastelería artesanal dedicada a
    crear pasteles y postres que no solo deleiten el paladar, sino que también
    cuenten historias y transmitan emociones. Desde nuestras recetas clásicas
    hasta nuestras creaciones más innovadoras, cada producto es elaborado con
    los mejores ingredientes y el cariño de un equipo apasionado por la
    repostería. Nos esforzamos por ofrecer una experiencia única a cada cliente,
    acompañándolos en sus celebraciones y haciendo realidad sus ideas más
    dulces. Porque para nosotros, la felicidad comienza con una cucharada de
    ilusión.
  </p>
  <div class="about-us__info">
    <div class="about-us__info__card">
      <p class="about-us__info__card__img-container">
        <img src="/assets/person.png" alt="" />
      </p>
      <p>
        <strong>Calidad:</strong> En nuestra tienda, la calidad es nuestra máxima prioridad.
        Seleccionamos cuidadosamente los mejores ingredientes para asegurar que
        cada producto ofrezca un sabor excepcional y una frescura inigualable.
        Nos esforzamos por mantener altos estándares en todos nuestros procesos,
        desde la selección de materias primas hasta la presentación final, para
        que cada cliente disfrute de una experiencia deliciosa y memorable.
      </p>
    </div>
    <div class="about-us__info__card">
      <p class="about-us__info__card__img-container">
        <img src="/assets/email.png" alt="" />
      </p>
      <p>
        <strong>Creatividad:</strong> Nos encanta innovar y explorar nuevas ideas para sorprender
        a nuestros clientes. Nuestra pasión por la creatividad se refleja en
        cada diseño y receta que creamos, llevando la repostería a otro nivel.
        Desde sabores clásicos reinventados hasta combinaciones únicas, siempre
        estamos buscando formas de hacer que nuestros pasteles y postres sean
        tan visualmente atractivos como deliciosos.
      </p>
    </div>
    <div class="about-us__info__card">
      <p class="about-us__info__card__img-container">
        <img src="/assets/check.png" alt="" />
      </p>
      <p>
        <strong>Pasión:</strong> Todo lo que hacemos está impulsado por una profunda pasión por
        la repostería. Amamos cada parte del proceso, desde la creación hasta la
        decoración final, y creemos que eso se refleja en la calidad de nuestros
        productos. Para nosotros, cada pastel y postre es una obra de arte,
        hecha con dedicación y esmero, para brindar alegría y satisfacción a
        cada uno de nuestros clientes.
      </p>
    </div>
  </div>
</section>
