.product-card {
  width: 350px;
  height: 350px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &__title {
    font-weight: bold;
  }

  img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 30%;
  }

  button {
    background-color: #ff784b;
  }
}
