.catalog {
  width: 90%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  margin-bottom: 40px;

  h1 {
    font-size: 40px;
  }
}

.categories {
  &__cards {
    display: flex;
    gap: 20px;
  }
}
