.product-card {
  width: 350px;
  height: 350px;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  &__title {
    font-weight: bold;
  }
  &__img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
