<div class="cart-item">
  <img class="cart-item__img" src="/assets/{{ cartItem().img }}" alt="" />
  <div class="cart-item__info">
    <div class="cart-item__info__text">
      <p class="title">{{ cartItem().productName | titlecase }}</p>
      <p class="quantity">{{ cartItem().quantity }} items</p>
    </div>
    <div class="cart-item__info__btns">
      <button (click)="updateProduct(cartItem().product, cartItem().quantity - 1)" mat-mini-fab>
        <mat-icon>remove</mat-icon>
      </button>
      <span>{{ cartItem().quantity }}</span>
      <button (click)="updateProduct(cartItem().product, cartItem().quantity + 1)" mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="cart-item__close">
    <p>
      <mat-icon (click)="removeProduct(cartItem().product)">cancel</mat-icon>
    </p>
    <p>{{ cartItem().price | currency }}</p>
  </div>
</div>
