.cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  width: 600px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;

  &__img {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
  }

  &__info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .title {
      font-size: 25px;
      font-weight: bold;
    }

    &__btns {
      display: flex;
      align-items: center;
      span {
        margin-left: 6px;
        margin-right: 6px;
      }

      button {
        background-color: brown;
        color: white;
      }
    }
  }

  &__close {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
